<ul class='nav nav-tabs'>
  {{#each tabNames as |tabName|}}
    {{#if (get details tabName 'length')}}
      <li class='nav-item'>
        <a
          {{action 'changeTab' tabName}}
          class='nav-link {{if (eq activeTab tabName) "active"}}'
          href='#'
        >
          {{titleize (humanize (dasherize tabName))}}
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>

{{#if (eq activeTab 'riskscore')}}
  {{#if details.riskscore}}
    <div class='mb-1'>
      <div class='view-in-ts'>
        <a
          class='p-link'
          href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'
        >View in Securonix
          {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
      </div>
      {{#each details.riskscore as |riskscore|}}
        <h1 class='p-title'>
          {{fa-icon 'arrow-right' fixedWidth=true}}
          Risk Score
          {{riskscore.riskscore}}
        </h1>
        {{#if riskscore.riskthreatname}}
          <div>
            <span class='p-key'>Riskscore:</span>
            <span class='p-value'>{{riskscore.riskthreatname}}</span>
          </div>
        {{/if}}
        {{#if riskscore.policyname}}
          <div>
            <span class='p-key'>Policy Name:</span>
            <span class='p-value'>{{riskscore.policyname}}</span>
          </div>
        {{/if}}
        {{#if riskscore.violator}}
          <div>
            <span class='p-key'>Violator:</span>
            <span class='p-value'>{{riskscore.violator}}</span>
          </div>
        {{/if}}
        {{#if riskscore.lastgeneratetime}}
          <div>
            <span class='p-key'>Last Generation Time:</span>
            <span class='p-value'>{{riskscore.lastgeneratetime}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}

{{#if (eq activeTab 'tpi')}}
  {{#if details.tpi}}
    <div class='mb-1'>
      <div class='view-in-ts'>
        <a
          class='p-link'
          href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'
        >View in Securonix
          {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
      </div>
      {{#each details.tpi as |tpi|}}
        <h1 class='p-title'>
          {{fa-icon 'info' fixedWidth=true}}
          {{tpi.tpi_ip}}
        </h1>
        {{#if tpi.tpi_criticality}}
          <div>
            <span class='p-key'>TPI Criticality:</span>
            <span class='p-value'>{{tpi.tpi_criticality}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_risk}}
          <div>
            <span class='p-key'>TPI Risk:</span>
            <span class='p-value'>{{tpi.tpi_risk}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_malware}}
          <div>
            <span class='p-key'>TPI Malware:</span>
            <span class='p-value'>{{tpi.malware}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_type}}
          <div>
            <span class='p-key'>TPI Type:</span>
            <span class='p-value'>{{tpi.tpi_type}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_src}}
          <div>
            <span class='p-key'>TPI Source:</span>
            <span class='p-value'>{{tpi.tpi_src}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_src_organization}}
          <div>
            <span class='p-key'>TPI Source Org.:</span>
            <span class='p-value'>{{tpi.tpi_source_organization}}</span>
          </div>
        {{/if}}
        {{#if tpi.tenantname}}
          <div>
            <span class='p-key'>Tenant Name:</span>
            <span class='p-value'>{{tpi.tenantname}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}

{{#if (eq activeTab 'users')}}
  <div class='mb-1'>
    {{#each details.users as |user|}}
      <h1 class='p-title'>
        {{fa-icon 'info' fixedWidth=true}}
        {{user.workemail}}
      </h1>
      {{#if user.firstname}}
        <div>
          <span class='p-key'>First Name:</span>
          <span class='p-value'>{{user.firstname}}</span>
        </div>
      {{/if}}
      {{#if user.lastname}}
        <div>
          <span class='p-key'>Last Name:</span>
          <span class='p-value'>{{user.lastname}}</span>
        </div>
      {{/if}}
      {{#if user.userriskscore}}
        <div>
          <span class='p-key'>Risk Score:</span>
          <span class='p-value'>{{user.userriskscore}}</span>
        </div>
      {{/if}}
      {{#if user.status}}
        <div>
          <span class='p-key'>Status:</span>
          <span class='p-value'>{{user.status}}</span>
        </div>
      {{/if}}
      {{#if user.usercriticality}}
        <div>
          <span class='p-key'>Criticality:</span>
          <span class='p-value'>{{user.usercriticality}}</span>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}

{{#if (eq activeTab 'violations')}}
  <div class='view-in-ts'>
    <a class='p-link' href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'>View in
      Securonix
      {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
  </div>
  <div class='mb-1'>
    {{#each details.violations as |violation index|}}
      {{#if (gt index 0)}}
        <hr />
      {{/if}}

      <h1 class='p-title'>
        {{fa-icon 'do-not-enter' fixedWidth=true}}
        {{violation.riskthreatname}}
      </h1>
      {{#if violation.policyname}}
        <div>
          <span class='p-key'>Policy:</span>
          <span class='p-value'>{{violation.policyname}}</span>
        </div>
      {{/if}}
      {{#if violation.category}}
        <div>
          <span class='p-key'>Category:</span>
          <span class='p-value'>{{titleize
              (humanize (dasherize violation.category))
            }}</span>
        </div>
      {{/if}}
      {{#if violation.eventoutcome}}
        <div>
          <span class='p-key'>Outcome:</span>
          <span class='p-value'>{{violation.eventoutcome}}</span>
        </div>
      {{/if}}
      {{#if violation.associatedUser.fullname}}
        <div>
          <span class='p-key'>Associated User:</span>
          <span class='p-value'>{{violation.associatedUser.fullname}}</span>
        </div>
      {{/if}}
      {{#if violation.u_workemail}}
        <div>
          <span class='p-key'>Associated User Email:</span>
          <span class='p-value'>{{violation.u_workemail}}</span>
        </div>
      {{/if}}
      {{#if violation.accountname}}
        <div>
          <span class='p-key'>Account Name:</span>
          <span class='p-value'>{{violation.accountname}}</span>
        </div>
      {{/if}}
      {{#if violation.sourceusername}}
        <div>
          <span class='p-key'>Source UserName:</span>
          <span class='p-value'>{{violation.sourceusername}}</span>
        </div>
      {{/if}}
      {{#if violation.tenantname}}
        <div>
          <span class='p-key'>Tenant Name:</span>
          <span class='p-value'>{{violation.tenantname}}</span>
        </div>
      {{/if}}
      {{#if violation.emailsenderdomain}}
        <div>
          <span class='p-key'>Email Sender Domain:</span>
          <span class='p-value'>{{violation.emailsenderdomain}}</span>
        </div>
      {{/if}}
      {{#if violation.resourcename}}
        <div>
          <span class='p-key'>Resource Name:</span>
          <span class='p-value'>{{violation.resourcename}}</span>
        </div>
      {{/if}}
      {{#if violation.deviceaction}}
        <div>
          <span class='p-key'>Device Action:</span>
          <span class='p-value'>{{violation.deviceaction}}</span>
        </div>
      {{/if}}
      {{#if violation.filename}}
        <div>
          <span class='p-key'>File Name:</span>
          <span class='p-value'>{{violation.filename}}</span>
        </div>
      {{/if}}
      {{#if violation.ipaddress}}
        <div>
          <span class='p-key'>IP Address:</span>
          <span class='p-value'>{{violation.ipaddress}}</span>
        </div>
      {{/if}}
      {{#if violation.oldfilepath}}
        <div>
          <span class='p-key'>Filepath:</span>
          <span class='p-value'>{{violation.oldfilepath}}</span>
        </div>
      {{/if}}
      {{#if violation.requesturl}}
        <div>
          <span class='p-key'>Request URL:</span>
          <span class='p-value'>{{violation.requesturl}}</span>
        </div>
      {{/if}}
      {{#if violation.eventcountry}}
        <div>
          <span class='p-key'>Country:</span>
          <span class='p-value'>{{violation.eventcountry}}</span>
        </div>
      {{/if}}
      {{#if violation.eventcity}}
        <div>
          <span class='p-key'>City:</span>
          <span class='p-value'>{{violation.eventcity}}</span>
        </div>
      {{/if}}
      {{#if violation.rg_name}}
        <div>
          <span class='p-key'>RG Name:</span>
          <span class='p-value'>{{violation.rg_name}}</span>
        </div>
      {{/if}}
      {{#if violation.datetime.length}}
        {{#if (get expandableTitleStates.datetime index)}}
          <a
            href='#'
            class='expandable-title'
            {{on 'click' (action 'toggleExpandableTitle' index 'datetime')}}
          >
            <span class='text'>Times Violation Occurred ({{violation.violationCount}}):</span>
            {{fa-icon 'angle-up'}}
          </a>
          <div class='wrap-container'>
            {{#each violation.datetime as |time|}}
              <span class='time-container'>{{moment-format
                  time
                  'ddd, DD MMM YYYY HH:mm:ss'
                  timeZone=timezone
                }}</span>
            {{/each}}
          </div>
        {{else}}
          <a
            href='#'
            class='expandable-title'
            {{on 'click' (action 'toggleExpandableTitle' index 'datetime')}}
          >
            <span class='text'>Times Violation Occurred ({{violation.violationCount}}):</span>
            {{fa-icon 'angle-down'}}
          </a>
        {{/if}}
      {{/if}}
      {{#if (get expandableTitleStates.allFields index)}}
        <a
          href='#'
          class='expandable-title'
          {{on 'click' (action 'toggleExpandableTitle' index 'allFields')}}
        >
          <span class='text'>Example Log</span>
          {{fa-icon 'angle-up'}}
        </a>
        <pre>{{#each-in violation.allFields as |key value|}}<span
              class='p-value'
            >{{key}}&nbsp;=&nbsp;</span><span class='p-key'>{{value}},<br
              /></span>{{/each-in}}</pre>
      {{else}}
        <a
          href='#'
          class='expandable-title'
          {{on 'click' (action 'toggleExpandableTitle' index 'allFields')}}
        >
          <span class='text'>Example Log</span>
          {{fa-icon 'angle-down'}}
        </a>
      {{/if}}
      {{#if (get expandableTitleStates.watchList index)}}
        <a
          href='#'
          class='expandable-title'
          {{on 'click' (action 'toggleExpandableTitle' index 'watchList')}}
        >
          <span class='text'>Watchlists </span>
          {{fa-icon 'angle-up'}}
        </a>
        <div class='wrap-container'>
          <div>
            <span class='p-key'>Domain Admin:</span>
            <span class='p-value'>{{watchLists.Domain_Admin}}</span>
          </div>
          <div>
            <span class='p-key'>Flight Risk:</span>
            <span class='p-value'>{{watchLists.Flight_Risk_Users_Watchlist}}</span>
          </div>
          <div>
            <span class='p-key'>Recent Transfers:</span>
            <span class='p-value'>{{watchLists.Recent_Transfers}}</span>
          </div>
          <div>
            <span class='p-key'>Exiting Behavior:</span>
            <span class='p-value'>{{watchLists.Exiting_Behavior_Watchlist}}</span>
          </div>
          <div>
            <span class='p-key'>Bad Performance:</span>
            <span class='p-value'>{{watchLists.Bad_Performance_Review}}</span>
          </div>
          <div>
            <span class='p-key'>Bad Performance:</span>
            <span class='p-value'>{{watchLists.Bad_Performance_Review}}</span>
          </div>
          <div>
            <span class='p-key'>Terminated Contractors:</span>
            <span class='p-value'>{{watchLists.Terminated_Contractors}}</span>
          </div>
          <div>
            <span class='p-key'>Contractors Upcoming Termination:</span>
            <span class='p-value'>{{watchLists.Contractors-UpComing_Termination}}</span>
          </div>
          <div>
            <span class='p-key'>Kognition:</span>
            <span class='p-value'>{{watchLists.Kognition}}</span>
          </div>
          <div>
            <span class='p-key'>Privileged Accounts:</span>
            <span class='p-value'>{{watchLists.Privileged_Accounts}}</span>
          </div>
          <div>
            <span class='p-key'>Terminated Employees:</span>
            <span class='p-value'>{{watchLists.Terminated_Employees}}</span>
          </div>
          <div>
            <span class='p-key'>Privileged Users:</span>
            <span class='p-value'>{{watchLists.Privileged_Users}}</span>
          </div>
          <div>
            <span class='p-key'>Recent Hires:</span>
            <span class='p-value'>{{watchLists.Recent_Hires}}</span>
          </div>
          <div>
            <span class='p-key'>Employee Upcoming Termination:</span>
            <span class='p-value'>{{watchLists.Employees-UpComing_Terminations}}</span>
          </div>
        </div>
      {{else}}
        <a
          href='#'
          class='expandable-title'
          {{on 'click' (action 'toggleExpandableTitle' index 'watchList')}}
        >
          <span class='text'>Watchlists:</span>
          {{fa-icon 'angle-down'}}
        </a>
      {{/if}}
    {{/each}}

    {{#if (gte details.violations.length details.violationsMaxResultCount)}}
      <hr />
      <div class='view-in-ts end'>
        <a class='p-link' href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'>
          ...Find all in Securonix
          {{fa-icon 'external-link-square' class='external-link-icon'}}
        </a>
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if (eq activeTab 'associatedUsers')}}
  <div class='view-in-ts'>
    <a class='p-link' href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'>View in
      Securonix
      {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
  </div>
  <div class='mb-1'>
    {{#each details.associatedUsers as |associatedUser index|}}
      {{#if (gt index 0)}}
        <hr />
      {{/if}}
      <div>
        <h1 class='p-title'>
          {{fa-icon 'user' fixedWidth=true}}
          {{#if associatedUser.fullname}}
            {{associatedUser.fullname}}
          {{else}}
            {{associatedUser.workemail}}
          {{/if}}
          {{#if
            (or
              associatedUser.employeeid
              associatedUser.sourceusername
              associatedUser.accountname
              associatedUser.tenantname
            )
          }}
            ({{or
              associatedUser.employeeid
              associatedUser.sourceusername
              associatedUser.accountname
              associatedUser.tenantname
            }})
          {{/if}}
        </h1>
        {{#if associatedUser.title}}
          <div>
            <span class='p-key'>Title:</span>
            <span class='p-value'>{{associatedUser.title}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.division}}
          <div>
            <span class='p-key'>Division:</span>
            <span class='p-value'>{{associatedUser.division}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.department}}
          <div>
            <span class='p-key'>Department:</span>
            <span class='p-value'>{{associatedUser.department}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.timeWithCompany}}
          <div>
            <span class='p-key'>Time With Company:</span>
            <span class='p-value'>{{associatedUser.timeWithCompany}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.employeetypedescription}}
          <div>
            <span class='p-key'>Employee Type:</span>
            <span class='p-value'>{{associatedUser.employeetypedescription}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.statusdescription}}
          <div>
            <span class='p-key'>Status Description:</span>
            <span class='p-value'>{{associatedUser.statusdescription}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.riskscore}}
          <div>
            <span class='p-key'>Risk Score:</span>
            <span class='p-value'>{{associatedUser.riskscore}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.flightRiskLevel}}
          <div>
            <span class='p-key'>Flight Risk Level:</span>
            <span class='p-value'>{{associatedUser.flightRiskLevel}}</span>
          </div>
        {{/if}}

        {{#if associatedUser.criticality}}
          <div>
            <span class='p-key'>Threat Level:</span>
            <span class='p-value'>{{associatedUser.criticality}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.violationCount}}
          <div>
            <span class='p-key'>Violation Count:</span>
            <span class='p-value'>{{associatedUser.violationCount}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.country}}
          <div>
            <span class='p-key'>Country:</span>
            <span class='p-value'>{{associatedUser.country}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.location}}
          <div>
            <span class='p-key'>Location:</span>
            <span class='p-value'>{{associatedUser.location}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.lanid}}
          <div>
            <span class='p-key'>LAN ID:</span>
            <span class='p-value'>{{associatedUser.lanid}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.timezoneoffset}}
          <div>
            <span class='p-key'>Time Zone:</span>
            <span class='p-value'>{{associatedUser.timezoneoffset}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.hiredate}}
          <div>
            <span class='p-key'>Hire Date:</span>
            <span class='p-value'>{{associatedUser.hiredate}}</span>
          </div>
        {{/if}}
        {{#if (or associatedUser.workemail associatedUser.workphone)}}
          <h1 class='p-title'>Contact Info:</h1>

          {{#if (and associatedUser.workemail associatedUser.fullname)}}
            <div>
              <span class='p-key'>Work Email:</span>
              <span class='p-value'>{{associatedUser.workemail}}</span>
            </div>
          {{/if}}
          {{#if associatedUser.workphone}}
            <div>
              <span class='p-key'>Phone Number:</span>
              <span class='p-value'>{{associatedUser.workphone}}</span>
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if (eq activeTab 'incidents')}}
  <div class='view-in-ts'>
    <a
      class='p-link'
      href='{{block.userOptions.url}}/Snypr/configurableDashboards/view?menuname=Incident Management&section=10'
    >View in Securonix
      {{fa-icon 'external-link-square' class='external-link-icon'}}</a>
  </div>
  <div class='mb-1'>
    {{#each details.incidents as |incident index|}}
      {{#if (gt index 0)}}
        <hr />
      {{/if}}

      <h1 class='p-title'>
        {{fa-icon 'info-circle' fixedWidth=true}}
        {{incident.violatorId}}
      </h1>
      {{#if incident.url}}
        <a class='p-link' href={{incident.url}}>
          View Incident
          {{fa-icon 'external-link-square' class='external-link-icon'}}
        </a>
      {{/if}}
      {{#if incident.violatorText}}
        <div>
          <span class='p-key'>Violator Text:</span>
          <span class='p-value'>{{incident.violatorText}}</span>
        </div>
      {{/if}}
      {{#if incident.incidentType}}
        <div>
          <span class='p-key'>Incident Type:</span>
          <span class='p-value'>{{incident.incidentType}}</span>
        </div>
      {{/if}}
      {{#if incident.incidentStatus}}
        <div>
          <span class='p-key'>Incident Status:</span>
          <span class='p-value'>{{incident.incidentStatus}}</span>
        </div>
      {{/if}}
      {{#if incident.riskscore}}
        <div>
          <span class='p-key'>Risk Score:</span>
          <span class='p-value'>{{incident.riskscore}}</span>
        </div>
      {{/if}}
      {{#if incident.priority}}
        <div>
          <span class='p-key'>Priority:</span>
          <span class='p-value'>{{capitalize incident.priority}}</span>
        </div>
      {{/if}}
      {{#if incident.entity}}
        <div>
          <span class='p-key'>Entity:</span>
          <span class='p-value'>{{incident.entity}}</span>
        </div>
      {{/if}}
      {{#if incident.workflowName}}
        <div>
          <span class='p-key'>Workflow Name:</span>
          <span class='p-value'>{{incident.workflowName}}</span>
        </div>
      {{/if}}
      {{#if incident.isWhitelisted}}
        <div>
          <span class='p-key'>Is Whitelisted:</span>
          <span class='p-value'>{{incident.isWhitelisted}}</span>
        </div>
      {{/if}}
      {{#if incident.watchlisted}}
        <div>
          <span class='p-key'>Is Watchlisted:</span>
          <span class='p-value'>{{incident.watchlisted}}</span>
        </div>
      {{/if}}
      {{#if incident.assignedUser}}
        <div>
          <span class='p-key'>Assigned User:</span>
          <span class='p-value'>{{incident.assignedUser}}</span>
        </div>
      {{/if}}
      {{#if incident.tenantInfo.tenantname}}
        <div>
          <span class='p-key'>Tenant Name:</span>
          <span class='p-value'>{{incident.tenantInfo.tenantname}}</span>
        </div>
      {{/if}}
      {{#if incident.casecreatetime}}
        <div>
          <span class='p-key'>Case Created At:</span>
          <span class='p-value'>{{moment-format
              incident.casecreatetime
              'ddd, DD MMM YYYY HH:mm:ss'
              timeZone=timezone
            }}</span>
        </div>
      {{/if}}
      {{#if incident.lastUpdateDate}}
        <div>
          <span class='p-key'>Last Updated:</span>
          <span class='p-value'>{{moment-format
              incident.lastUpdateDate
              'ddd, DD MMM YYYY HH:mm:ss'
              timeZone=timezone
            }}</span>
        </div>
      {{/if}}

      {{#if incident.reason}}
        <div>
          <span class='p-key'>Incident Reasons:</span>
          <div class='wrap-container'>
            {{#each incident.reason as |reason|}}
              <span class='time-container'>{{reason}}</span>
            {{/each}}
          </div>
        </div>
      {{/if}}
    {{/each}}
    {{#if (gte details.incidents.length details.incidentsMaxResultCount)}}
      <hr />
      <div class='view-in-ts end'>
        <a
          class='p-link'
          href='{{block.userOptoins.url}}/Snypr/configurableDashboards/view?menuname=Incident Management&section=10'
        >
          ...Find all in Securonix
          {{fa-icon 'external-link-square' class='external-link-icon'}}
        </a>
      </div>
    {{/if}}
  </div>
{{/if}}