<ul class='nav nav-tabs'>
  {{#each tabNames as |tabName|}}
    {{#if (get details tabName 'length')}}
      <li class='nav-item'>
        <a
          {{action 'changeTab' tabName}}
          class='nav-link {{if (eq block._state.activeTab tabName) "active"}}'
          href='#'
        >
          {{titleize (humanize (dasherize tabName))}}
          ({{get details (concat tabName ".length")}})
        </a>
      </li>
    {{/if}}
  {{/each}}
</ul>

{{#if (eq block._state.activeTab 'riskscore')}}
  {{#if details.riskscore}}
    <div class='mb-1'>
      <div class='view-in-ts'>
        <a
          class='p-link'
          href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'
        >View in Securonix
          {{fa-icon icon='external-link-square' class='external-link-icon'}}</a>
      </div>
      {{#each details.riskscore as |riskscore|}}
        <h1 class='p-title'>
          {{fa-icon icon='arrow-right' fixedWidth=true}}
          Risk Score
          {{riskscore.riskscore}}
        </h1>
        {{#if riskscore.riskthreatname}}
          <div>
            <span class='p-key'>Riskscore:</span>
            <span class='p-value'>{{riskscore.riskthreatname}}</span>
          </div>
        {{/if}}
        {{#if riskscore.policyname}}
          <div>
            <span class='p-key'>Policy Name:</span>
            <span class='p-value'>{{riskscore.policyname}}</span>
          </div>
        {{/if}}
        {{#if riskscore.violator}}
          <div>
            <span class='p-key'>Violator:</span>
            <span class='p-value'>{{riskscore.violator}}</span>
          </div>
        {{/if}}
        {{#if riskscore.lastgeneratetime}}
          <div>
            <span class='p-key'>Last Generation Time:</span>
            <span class='p-value'>{{riskscore.lastgeneratetime}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}

{{#if (eq block._state.activeTab 'tpi')}}
  {{#if details.tpi}}
    <div class='mb-1'>
      <div class='view-in-ts'>
        <a
          class='p-link'
          href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'
        >View in Securonix
          {{fa-icon icon='external-link-square' class='external-link-icon'}}</a>
      </div>
      {{#each details.tpi as |tpi|}}
        <h1 class='p-title'>
          {{fa-icon icon='info' fixedWidth=true}}
          {{tpi.tpi_ip}}
        </h1>
        {{#if tpi.tpi_criticality}}
          <div>
            <span class='p-key'>TPI Criticality:</span>
            <span class='p-value'>{{tpi.tpi_criticality}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_risk}}
          <div>
            <span class='p-key'>TPI Risk:</span>
            <span class='p-value'>{{tpi.tpi_risk}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_malware}}
          <div>
            <span class='p-key'>TPI Malware:</span>
            <span class='p-value'>{{tpi.tpi_malware}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_type}}
          <div>
            <span class='p-key'>TPI Type:</span>
            <span class='p-value'>{{tpi.tpi_type}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_src}}
          <div>
            <span class='p-key'>TPI Source:</span>
            <span class='p-value'>{{tpi.tpi_src}}</span>
          </div>
        {{/if}}
        {{#if tpi.tpi_src_organization}}
          <div>
            <span class='p-key'>TPI Source Org:</span>
            <span class='p-value'>{{tpi.tpi_src_organization}}</span>
          </div>
        {{/if}}
        {{#if tpi.tenantname}}
          <div>
            <span class='p-key'>Tenant Name:</span>
            <span class='p-value'>{{tpi.tenantname}}</span>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
{{/if}}

{{#if (eq block._state.activeTab 'users')}}
  <div class='mb-1'>
    {{#each details.users as |user|}}
      <h1 class='p-title'>
        {{fa-icon icon='user' fixedWidth=true}}
        {{user.workemail}}
      </h1>
      {{#if user.firstname}}
        <div>
          <span class='p-key'>First Name:</span>
          <span class='p-value'>{{user.firstname}}</span>
        </div>
      {{/if}}
      {{#if user.lastname}}
        <div>
          <span class='p-key'>Last Name:</span>
          <span class='p-value'>{{user.lastname}}</span>
        </div>
      {{/if}}
      {{#if user.userriskscore}}
        <div>
          <span class='p-key'>Risk Score:</span>
          <span class='p-value'>{{user.userriskscore}}</span>
        </div>
      {{/if}}
      {{#if user.status}}
        <div>
          <span class='p-key'>Status:</span>
          <span class='p-value'>{{user.status}}</span>
        </div>
      {{/if}}
      {{#if user.usercriticality}}
        <div>
          <span class='p-key'>Criticality:</span>
          <span class='p-value'>{{user.usercriticality}}</span>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}

{{#if (eq block._state.activeTab 'violations')}}
  <div class='view-in-ts'>
    <a class='p-link' href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'>View in
      Securonix
      {{fa-icon icon='external-link-square' class='external-link-icon'}}</a>
  </div>
  <div>
    {{#each pagedViolations as |violation index|}}
      {{#if (gt index 0)}}
        <hr />
      {{/if}}
      <div class="violation-container">
        <h1 class='p-title'>
          {{fa-icon icon='do-not-enter' fixedWidth=true}}
            #{{violation.index}} -
          {{violation.riskthreatname}}
        </h1>
        {{#if violation.policyname}}
          <div>
            <span class='p-key'>Policy:</span>
            <span class='p-value p-block'>{{violation.policyname}}</span>
          </div>
        {{/if}}
        {{#if violation.category}}
          <div>
            <span class='p-key'>Category:</span>
            <span class='p-value'>{{titleize
                (humanize (dasherize violation.category))
              }}</span>
          </div>
        {{/if}}
        {{#if violation.eventoutcome}}
          <div>
            <span class='p-key'>Outcome:</span>
            <span class='p-value p-block'>{{violation.eventoutcome}}</span>
          </div>
        {{/if}}
        {{#if violation.associatedUser.fullname}}
          <div>
            <span class='p-key'>Associated User:</span>
            <span class='p-value'>{{violation.associatedUser.fullname}}</span>
          </div>
        {{/if}}
        {{#if violation.u_workemail}}
          <div>
            <span class='p-key'>Associated User Email:</span>
            <span class='p-value'>{{violation.u_workemail}}</span>
          </div>
        {{/if}}
        {{#if violation.accountname}}
          <div>
            <span class='p-key'>Account Name:</span>
            <span class='p-value'>{{violation.accountname}}</span>
          </div>
        {{/if}}
        {{#if violation.sourceusername}}
          <div>
            <span class='p-key'>Source UserName:</span>
            <span class='p-value'>{{violation.sourceusername}}</span>
          </div>
        {{/if}}
        {{#if violation.tenantname}}
          <div>
            <span class='p-key'>Tenant Name:</span>
            <span class='p-value'>{{violation.tenantname}}</span>
          </div>
        {{/if}}
        {{#if violation.emailsenderdomain}}
          <div>
            <span class='p-key'>Email Sender Domain:</span>
            <span class='p-value'>{{violation.emailsenderdomain}}</span>
          </div>
        {{/if}}
        {{#if violation.resourcename}}
          <div>
            <span class='p-key'>Resource Name:</span>
            <span class='p-value'>{{violation.resourcename}}</span>
          </div>
        {{/if}}
        {{#if violation.deviceaction}}
          <div>
            <span class='p-key'>Device Action:</span>
            <span class='p-value'>{{violation.deviceaction}}</span>
          </div>
        {{/if}}
        {{#if violation.filename}}
          <div>
            <span class='p-key'>File Name:</span>
            <span class='p-value'>{{violation.filename}}</span>
          </div>
        {{/if}}
        {{#if violation.ipaddress}}
          <div>
            <span class='p-key'>IP Address:</span>
            <span class='p-value'>{{violation.ipaddress}}</span>
          </div>
        {{/if}}
        {{#if violation.oldfilepath}}
          <div>
            <span class='p-key'>Filepath:</span>
            <span class='p-value'>{{violation.oldfilepath}}</span>
          </div>
        {{/if}}
        {{#if violation.requesturl}}
          <div>
            <span class='p-key'>Request URL:</span>
            <span class='p-value'>{{violation.requesturl}}</span>
          </div>
        {{/if}}
        {{#if violation.eventcountry}}
          <div>
            <span class='p-key'>Country:</span>
            <span class='p-value'>{{violation.eventcountry}}</span>
          </div>
        {{/if}}
        {{#if violation.eventcity}}
          <div>
            <span class='p-key'>City:</span>
            <span class='p-value'>{{violation.eventcity}}</span>
          </div>
        {{/if}}
        {{#if violation.rg_name}}
          <div>
            <span class='p-key'>RG Name:</span>
            <span class='p-value'>{{violation.rg_name}}</span>
          </div>
        {{/if}}
        {{#if violation.datetime.length}}
          {{#if (get expandableTitleStates.datetime index)}}
            <a
              href='#'
              class='expandable-title'
              {{on 'click' (action 'toggleExpandableTitle' index 'datetime')}}
            >
              <span class='text'>Times Violation Occurred ({{violation.datetime.length}}):</span>
              {{fa-icon icon='angle-up'}}
            </a>
            <div class='wrap-container scrollable-container'>
              {{#each violation.datetime as |time|}}
                <span class='time-container'>{{moment-format
                    time
                    'ddd, DD MMM YYYY HH:mm:ss'
                    timeZone=timezone
                  }}</span>
              {{/each}}
            </div>
          {{else}}
            <a
              href='#'
              class='expandable-title'
              {{on 'click' (action 'toggleExpandableTitle' index 'datetime')}}
            >
              <span class='text'>Times Violation Occurred ({{violation.datetime.length}}):</span>
              {{fa-icon icon='angle-down'}}
            </a>
          {{/if}}
        {{/if}}

        {{#if (get expandableTitleStates.allFields index)}}
          <a
            href='#'
            class='expandable-title'
            {{on 'click' (action 'toggleExpandableTitle' index 'allFields')}}
          >
            <span class='text'>Example Log</span>
            {{fa-icon icon='angle-up'}}
          </a>
          <pre class="scrollable-container">{{#each-in violation.allFields as |key value|}}<span
                class='p-value'
              >{{key}}&nbsp;=&nbsp;</span><span class='p-key'>{{value}},<br
                /></span>{{/each-in}}</pre>
        {{else}}
          <a
            href='#'
            class='expandable-title'
            {{on 'click' (action 'toggleExpandableTitle' index 'allFields')}}
          >
            <span class='text'>Example Log</span>
            {{fa-icon icon='angle-down'}}
          </a>
        {{/if}}
      </div>
    {{/each}}
    <div class="paging-container mt-2 d-flex align-items-center justify-content-between">
      <div>
        <span class="next-hit-stats">Violations {{block._state.violation.startItem}} to {{block._state.violation.endItem}} of {{details.violation.length}}</span>
      </div>
      <div>
        <span title="First Page" {{action "changePage" "firstPage"}} class="next-hit-button p-action">{{fa-icon icon="chevron-double-left" fixedWidth=true}}</span>
        <span title="Previous Page" {{action "changePage" -1}} class="next-hit-button p-action">{{fa-icon icon="chevron-left" fixedWidth=true}}</span>
        <span title="Next Page" {{action "changePage" 1}} class="next-hit-button ml-1 p-action">{{fa-icon icon="chevron-right" fixedWidth=true}}</span>
        <span title="Last Page" {{action "changePage" "lastPage"}} class="next-hit-button ml-1 p-action">{{fa-icon icon="chevron-double-right" fixedWidth=true}}</span>
      </div>
    </div>
  </div>
{{/if}}


{{#if (eq block._state.activeTab 'associatedUsers')}}
  <div class='view-in-ts'>
    <a class='p-link' href='{{block.userOptions.url}}/Snypr/spotter/loadDashboard'>View in
      Securonix
      {{fa-icon icon='external-link-square' class='external-link-icon'}}</a>
  </div>
  <div class='mb-1'>
    {{#each details.associatedUsers as |associatedUser index|}}
      {{#if (gt index 0)}}
        <hr />
      {{/if}}
      <div>
        <h1 class='p-title'>
          {{fa-icon icon='user' fixedWidth=true}}
          {{#if associatedUser.fullname}}
            {{associatedUser.fullname}}
          {{else}}
            {{associatedUser.workemail}}
          {{/if}}
          {{#if
            (or
              associatedUser.employeeid
              associatedUser.sourceusername
              associatedUser.accountname
              associatedUser.tenantname
            )
          }}
            ({{or
              associatedUser.employeeid
              associatedUser.sourceusername
              associatedUser.accountname
              associatedUser.tenantname
            }})
          {{/if}}
        </h1>
        {{#if associatedUser.title}}
          <div>
            <span class='p-key'>Title:</span>
            <span class='p-value'>{{associatedUser.title}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.division}}
          <div>
            <span class='p-key'>Division:</span>
            <span class='p-value'>{{associatedUser.division}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.department}}
          <div>
            <span class='p-key'>Department:</span>
            <span class='p-value'>{{associatedUser.department}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.timeWithCompany}}
          <div>
            <span class='p-key'>Time With Company:</span>
            <span class='p-value'>{{associatedUser.timeWithCompany}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.employeetypedescription}}
          <div>
            <span class='p-key'>Employee Type:</span>
            <span class='p-value'>{{associatedUser.employeetypedescription}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.statusdescription}}
          <div>
            <span class='p-key'>Status Description:</span>
            <span class='p-value'>{{associatedUser.statusdescription}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.riskscore}}
          <div>
            <span class='p-key'>Risk Score:</span>
            <span class='p-value'>{{associatedUser.riskscore}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.flightRiskLevel}}
          <div>
            <span class='p-key'>Flight Risk Level:</span>
            <span class='p-value'>{{associatedUser.flightRiskLevel}}</span>
          </div>
        {{/if}}

        {{#if associatedUser.criticality}}
          <div>
            <span class='p-key'>Threat Level:</span>
            <span class='p-value'>{{associatedUser.criticality}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.violationCount}}
          <div>
            <span class='p-key'>Violation Count:</span>
            <span class='p-value'>{{associatedUser.violationCount}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.country}}
          <div>
            <span class='p-key'>Country:</span>
            <span class='p-value'>{{associatedUser.country}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.location}}
          <div>
            <span class='p-key'>Location:</span>
            <span class='p-value'>{{associatedUser.location}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.lanid}}
          <div>
            <span class='p-key'>LAN ID:</span>
            <span class='p-value'>{{associatedUser.lanid}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.timezoneoffset}}
          <div>
            <span class='p-key'>Time Zone:</span>
            <span class='p-value'>{{associatedUser.timezoneoffset}}</span>
          </div>
        {{/if}}
        {{#if associatedUser.hiredate}}
          <div>
            <span class='p-key'>Hire Date:</span>
            <span class='p-value'>{{associatedUser.hiredate}}</span>
          </div>
        {{/if}}
        {{#if (or associatedUser.workemail associatedUser.workphone)}}
          <h1 class='p-title'>Contact Info:</h1>

          {{#if (and associatedUser.workemail associatedUser.fullname)}}
            <div>
              <span class='p-key'>Work Email:</span>
              <span class='p-value'>{{associatedUser.workemail}}</span>
            </div>
          {{/if}}
          {{#if associatedUser.workphone}}
            <div>
              <span class='p-key'>Phone Number:</span>
              <span class='p-value'>{{associatedUser.workphone}}</span>
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if (eq block._state.activeTab 'events')}}

{{/if}}