<span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
  <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
  <span class="integration-text-color">Associated Violations: {{details.violationsCount}}</span>
</span>
{{#if details.associatedUsers.length}}
  <span {{on "click" (optional this.scrollToIntegration)}} class="integration-summary-tag integration-background-color integration-border-color">
    <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
    <span class="integration-text-color">Associated Users: {{details.associatedUsers.length}}</span>
  </span>
{{/if}}
